.nav-link {
  color: white;
}

.container-xl {
  display: flex;
  flex-direction: column; 
  gap: 50px;
}

.cont-center{
  justify-content:center;
}

.btn-auth {
  margin-top: 20px;
}

a{
  color: white;
}

.auth,.reg {
  /* flex: 1;
  margin: auto 0;
  justify-self: center; */
}

.btn-like{
  border: none; 
  outline: none;
  background-color: #fff;
}

.form-select, .favorite{
  margin-top: 40px;
}

.rents-container {
  display: flex;
  gap: 50px
}

 .like{
  width: 25px;
  height: 25px;
  /* background-image: url(/public/images/like.png); */
}

.like-fill{
  /* background-image: url(/public/images/like-fill.png); */
}

.card{
  max-width: 350px;
}